git+https://github.com/ska-sa/katcp-python#egg=katcp
git+https://katpull:katpull4git@github.com/ska-sa/katpoint.git#egg=katpoint
git+https://github.com/ska-sa/casperfpga#egg=casperfpga
git+https://github.com/ska-sa/corr2#egg=corr2
#git+https://github.com/ska-sa/corr#egg=corr # Seems to need to be root to install
git+https://github.com/ska-sa/PySPEAD#egg=spead
h5py
ipython[all]
matplotlib
mpld3
bokeh
sphinxcontrib-napoleon
breathe
alabaster
trollius
dpkt
bitstring
nose
nose-testconfig
